@media (max-width: 1000px) {
    .container , .chat__messages , .chat__input {
        width: 80%;
    }
}
@media (max-width: 800px) {
    .chat__message {
        font-size: 14px;
    }
    .chat__welcome {
        font-size: 15px;
    }

}
@media (max-width: 650px) {
    .container , .chat__messages , .chat__input {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .chat__input {
        border-radius: 0px;
    }
}
@media (max-width: 550px) {
    .chat__welcome {
        width: 75%;
    }
    .chat__span-adaptive {
        display: none;
    }
}
@media (max-width: 350px) {
    .chat__welcome {
        width: 90%;
    }
}